html{
	width:	100%;
	height:100%;
}
ul, p, h2{
	font-family: 'Oswald', sans-serif;
}
p{
	color:gray;
	font-size:10px;
}
.navegacion-inicio{
	position: fixed;
	width:100%;
	background-color: #FFFFFF;
	border-color: transparent;
	margin-bottom: 0px;
	border-radius:0px;
	z-index: 10;
	.barra-superior-universidad{
		padding: 0px;
		.fa{
			text-decoration: none;
			}
		.barra-menu-inicio{
			width: 6.8%;
			text-align: center;
			border-bottom: 1px solid gray;
		}
			.navbar-header.barra-menu-inicio-2{
				width: 93.2%;
				border-bottom: 1px solid gray;
  				// margin-left: 22px;
  				background-color: rgb(244, 243, 245);
				p{
					text-align: center;
				}
			  	.barra-menu-inicio-2{ 
			  		display: flex;
			  		width: 8%;
					text-align: center;
					border-bottom: 1px solid gray;
			  	}
				.content-group{
					width: 33%;
					a{
						margin-top: 6px;
						img{
							border-radius: 50%;
							width: 22%;
							border: 6px solid white;
						  	margin-top: 12px;

						}
					}
					p{
						font-size: 40px;
						margin-top: 22px;
					}
				}		
						
			}
			.fa {
				margin: 20px 0px;
			}
			.fa-home:before {
					content: "\f015";
					color: gray;
					font-size: 50px;
					padding: 0px 20px;
			}
		.barra-menu{
			width: 5%;
			margin: 0px 19px;
		}
			a{
				img{
					width: 80%;
				}

			}
		.menu-nav{
			border-bottom:2px solid gray;
		}
		.iconos-principales-nav{
			width: 90%;

		}
	}
	.barra-horizontal{
		img{
			width: 110%;
		}
	}
}
.nav-pills > li > a{
	text-align:center;
}
.glyphicon-file{
	color:gray;
}
.glyphicon-file:before{
	font-size:38px;
	
}
.glyphicon-file:hover{
	color:rgb(219, 14, 14);
	transition:0.5s ease-in-out;
}
.nav-vertical{
	position: fixed;
	float:	left;
	top:166px;
	width:88px;
	background-color:white;
		.fa-home:before {
	 		content: "\f015";
	  		color: gray;
	  		font-size: 50px;
	  		padding: 0px 6px;
	  		& :hover{
	  			color:red;
	  		}
	}


	ul{
		li{
			margin-top: 0px;
		}
	}
	.iconos-laterales{
		border-bottom: 1px solid gray;
  		border-radius: 0px;
  		
		img{
			width: 72%;
			display: block;
	  		margin: 0 auto;
		}
		p{
			text-align: center;
			font-size: 10px;
		}
	}
}


.drop-menu{
	background-color:white;
	width:45%;
	list-style:none;
	padding:0px;

	margin-left: 35%;
  	margin-top: 16px;
	li{
		border-bottom:1px solid gray;
		padding:10px;
		a{
			color:gray;
			text-decoration: none;
		}
	}

}
	.drop-menu-li li:hover{
		background-color:white;
		color:white;
	}
.informes{
	.informes-intro{
		margin-right: 0px;
		padding-top: 208px;
  		background: #f4f3f5;
  		// .informes-contenido{
  		// 	p{
  		// 		font-size:12px;
  		// 	}
  		// }
  		.row.boleta{
  			margin-left: 0px;
			margin-right: 0px;
  		}
  		.row.cursos{
  			//margin-right: 0px;
  		}
  		.campos-informes{
  			background-color: rgb(124, 124, 124);
  			margin-left: 0px;
 			margin-right: 0px;
 			p{
 				color:white;
 				text-align: center;
 				// font-size: 20px;
 			}
			}
  		}
	}
	.col-md-4.informes-contenido{
		//padding-right: 0px; 
  		//left: 10px;
  		// p{
  		// 	font-size: 20px;
  		// }
}
	.col-md-5.informes-contenido,
	.col-md-2.informes-contenido{
		// margin-top: 18%;
		h2{
			font-size: 18px;
			color:gray;
		}
		
	}
.informes-contenido{
	h2{
		font-size: 18px;
		color: gray
	}
	.horario{
		background-color:white;
		.horario-content{
			margin-left: 0px; 
  			margin-right: 0px;
		  	border-bottom: 1px solid rgb(225, 225, 225);
		  	.horario-content-am{
		  		top:5px;
		  		border-right:1px solid rgb(225, 225, 225);
		  		line-height: 27px;
		  		p{
		  			font-size: 12px;
		  			margin:0px;
		  			text-align: center;
		  		}
		  	}
		  	.horario-content-am-salon{
		  		top:5px;
		  		border-left:1px solid rgb(225, 225, 225);
				line-height: 27px;
		  		p{
		  			font-size: 12px;
		  			margin:0px;
		  			text-align: center;
		  		}
		  	}
		  	.horario-content-proceso{
		  		p{
		  			margin:0px;
		  			padding: 5px 0px 5px;
		  		}
		  	}
		  	.horario-content-am-space{
		  		height: 37px;
		  	}
		  	.col-md-6.horario-content-am-p{
		  		top:5px;
		  		p{
		  			border-right:1px solid rgb(225, 225, 225);
		  		}
		  	}
		  	.horario-content-am-s{
		  		top:10px;
		  		p{
			  		font-size: 12px;
	  				margin: 0px;
	  				text-align: center;
		  			
		  		}
		  	}
		}
		.horario-content-3{
			margin-left: 0px; 
  			margin-right: 0px;
		  	//border-bottom: 1px solid rgb(225, 225, 225);
		}	
	}
	.horario-3{
		background-color:white;
		margin-bottom: 6px;
		.horario-content{
			margin-left: 0px; 
  			margin-right: 0px;
		  	border-bottom: 1px solid rgb(225, 225, 225);
		  	.horario-content-am{
		  		top:5px;
		  		border-right:1px solid rgb(225, 225, 225);
		  		line-height: 27px;
		  		p{
		  			font-size: 12px;
		  			margin:0px;
		  			text-align: center;
		  		}
		  	}
		  	.horario-content-am-salon{
		  		top:5px;
		  		border-left:1px solid rgb(225, 225, 225);
				line-height: 27px;
		  		p{
		  			font-size: 12px;
		  			margin:0px;
		  			text-align: center;
		  		}
		  	}
		  	.horario-content-proceso{
		  		p{
		  			margin:0px;
		  			padding: 5px 0px 5px;
		  		}
		  	}
		  	.horario-content-am-space{
		  		height: 37px;
		  	}
		  	.col-md-6.horario-content-am-p{
		  		top:5px;
		  		p{
		  			border-right:1px solid rgb(225, 225, 225);
		  		}
		  	}
		  	.horario-content-am-s{
		  		top:10px;
		  		p{
			  		font-size: 12px;
	  				margin: 0px;
	  				text-align: center;
		  			
		  		}
		  	}
		}
		.horario-content-3{
			margin-left: 0px; 
  			margin-right: 0px;
		  	//border-bottom: 1px solid rgb(225, 225, 225);
		}	
	}

}
.eye.col-md-12{
	text-align:center;
	background-color: white;
  	padding: 20px;
	.fa-eye:before {
	  content: "\f06e";
	  font-size: 30px;
	  color: gray;
}
}
// .border-bottom{
// 	width:50%;
// 	border:px solid gray;
// }
	
hr{
	// top: -7px;
  	position: relative;
  	width: 94%;
  // 	  margin-top: 0px;
  // margin-bottom: 0px;
  // border:none;
  // border-top:2px;
}

